body {
    margin-left: 4em;
  background-color: rgb(180, 184, 223);
}



.person {
    margin: 0.5em;
  float: left;
  border: 1px solid #A75BC0;
  padding: 10px;
  width: 250px;
  background-color: orange;
}

span.points {
    margin-left: .5em;
  border: 3px solid #5963C2;
  border-radius: 50px;
  width: 17px;
  display: inline-block;
  text-align: center;
  padding: 5px;
  background-color: #B6D0F2;
  float: right;
  cursor: pointer;
  color: rgb(224, 42, 222);
}

.points:hover {
  opacity: 0.6;
}

.name {
  font-size: 1.2em;
}

.input input {
  width: 30px;
  float: right;
}

.hidden{
  display: none;
}

h1 {
    color: rgb(89, 99, 194);
    font-family: Butcherman Caps;
}
